---
import Layout from 'layouts/Layout.astro'
import Hero from 'components/Hero.astro'
---

<Layout title='Polyfilled - Home'>
	<main>
		<Hero/>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: clamp(60vw, 1200px, 80vw);
		display: flex;
		flex-direction: column;
	}
</style>
