<header>
	<a href='/' rel='noopener noreferrer'>
		<h3>Polyfilled</h3>
	</a>
	<div class='links'>
		<a href='/blogs' rel='noopener noreferrer'>
			<p>Blogs</p>
		</a>
		<a href='/projects' rel='noopener noreferrer'>
			<p>Project</p>
		</a>
		<a href='https://github.com/BlakeIsMyWaifu' target='_blank' rel='noopener noreferrer'>
			<p>Github</p>
		</a>
	</div>
</header>

<style>
	header {
		width: 100%;
		height: fit-content;
		padding: 8px;
		box-sizing: border-box;
		background-color: var(--primary);
		position: sticky;
		top: 0;
		display: flex;
		justify-content: space-between;
	}

	h3 {
		font-size: 2rem;
	}

	.links {
		display: flex;
		gap: 8px;
		margin: auto 2rem auto 0;
	}
</style>